.message {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 50px auto 1fr;
  grid-template-areas:
    "avatar author timestamp"
    "avatar wrapper wrapper";
  margin-top: 10px;
}

.message:last-child {
  margin-bottom: 10px;
}

.content-wrapper {
  grid-area: wrapper;
}

.inner-wrapper {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: [content] [attachments];
}
